AlphaFlight/AlphaFlight/.metadata
AlphaFlight/.metadata
AlphaFlight/AlphaFlight/.settings
AlphaFlight/AlphaFlight/Debug
AlphaFlight/AlphaFlightV2/.settings
AlphaFlight/AlphaFlightV2/Debug
AlphaFlight/AlphaFlightV2/.metadata
/Telemetry Interface/.idea
AlphaFlight Documentation/Gyro value usage.aux
AlphaFlight Documentation/Gyro value usage.log
AlphaFlight Documentation/Gyro value usage.out
AlphaFlight Documentation/Gyro value usage.pdf
AlphaFlight Documentation/Gyro value usage.synctex.gz
AlphaFlight Documentation/Gyro value usage.toc
AlphaFlight Documentation/preamble.tex
.idea
AlphaFlight/AlphaFlightV2/AlphaFlightV2 Debug.launch
/AlphaFlight Blackbox Viewer/build
/AlphaFlight/crc_check
